*{
    padding: 0px;
    margin: 0px;
}

img{
    max-width: 100%;
}
/* Nav Bar CSS */

/* header{ */
    /* background-color: antiquewhite; */
    /* border: 1px solid; */
    /* for my visual understanding */
/* } */
/*  */
.container{
max-width:1300px ;
margin: auto;
}
nav{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #575757;
   
}
/* common button */
.common-btn{
    background-color:#1D4ED8 ;
    border-radius: 10px;
    width: 150px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px 12px;
    cursor: pointer;
}

/* Banner Section */

.banner-parent{
    background-image: url(./image/banner.jpg), linear-gradient(to right,#000102,#000102);
    
    border: 1px solid;
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
}

.banner-text{
    margin-top:200px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;  
}

.banner-text h2{
    font-size: 70px;
}
.banner-text p{
    font-size: 30px;
}
.banner-button-bottom{
    display: flex;
    justify-content:center;
    align-items:flex-end;
    margin-top: 200px;
    
}
.hero-btn{
    font-size: 20px;
    padding: 10px;
}

/* Speaker Section */

.Speaker-parent{
    margin: 60px auto;
    text-align: center;

}

.card-parent{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px 30px;
}
.card{
   
     border-radius: 20px;
     text-align: left;
     margin-top: 10px;
     background-color: #f7f5f5;
}
 .card .txt{
    padding: 0px 10px;
    margin: 10px 0px;
}

/* Pricing Section */

.pricing-parent{
    margin: 60px auto;
    text-align: center;
}
.pricing-parent p{
    margin: 10px 0px;
    font-size: 18px;
}
.price-card-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    gap: 30px;
    margin-top: 30px;  
}
.price-card{
     display: flex;
     flex-direction: column;
     gap: 10px;
     background-color: #f7f5f5;
     border-radius: 10px;    
}
.price-card1{
     display: flex;
     flex-direction: column;
     gap: 10px;
     background-color: #0D1B2A;
     border-radius: 10px;
     padding: 10px;
}
.price-card1 .price-card-info {
 color: #f7f5f5;
 padding: 0px 10px;
 margin: 10px;
}
.price-card1 .price-card-feature{
 color: #d6c7c7;
}
.price-card-info , .price-card-feature{
    text-align: left;
    padding: 0px 10px;
    margin: 10px;
}
.price-card-feature{
  padding: 0px 20px ;   
}
.price-card-feature li::marker {
   color: #60A5FA;
}
.price-card-btn .common-btn{
    margin-bottom: 10px;
    width: 350px;
    height: 60px;
    background-color: white;
    color: #2563EB;
    border: 1px solid #2563EB;

}
.price-card-btn1 .common-btn{
    margin-bottom: 10px;
    width: 350px;
    height: 60px;
    background-color: #2563EB; 
}

/* footer Section */



